---
const { Name, Link, Icon } = Astro.props;
---

<div class="text-sm w-fit px-2 py-1 hover:underline underline-offset-8 hover:transform-gpu hover:transition-opacity ease-in-out">
    <a href={Link} class="text-white">
      {Name}
    </a>
  </div>
  
